/*.disk
/make.conf
/tinycore/rootfs.gz
/tinycore/modules.gz
/tinycore/provides/tc*.db.gz
/tinycore/changes/tccustom.tgz
/tinycore/tccustom32.tgz
/tinycore/tccustom64.tgz
/tinycore/tcz/*
/tinycore/vmlinuz
/tcl-*-usb.disk.gz
/ubuntu/ubuntu-base-20.04.2-base-amd64.tar.gz
/ubuntu/system.tgz
/sshkeys.pub/*.pub
/ubuntu/rootfs
/tclinux.iso
/ntfs/*
