/*.disk
/make.conf
/tinycore/rootfs.gz
/tinycore/modules.gz
/tinycore/provides/tc*.db.gz
/tinycore/changes/tccustom.tgz
/tinycore/conf.d/test.lst
/tinycore/tccustom32.tgz
/tinycore/tccustom64.tgz
/tinycore/tinycore.conf
/tinycore/chrootfs.tgz
/tinycore/vmlinuz
/tinycore/.arch
/tinycore/tcz/*
/busybox/src
/busybox/busybox.tar.bz2
/busybox/busybox.sh.conf
/busybox/config.nosuid
/busybox/config.suid
/busybox/patches/busybox-1.27.1-wget-make-default-timeout-configurable.patch
/busybox/patches/busybox-1.29.3_root_path.patch
/busybox/patches/busybox-1.31.1-vi.backward_search.patch
/busybox/patches/busybox-1.33.0_modprobe.patch
/busybox/patches/busybox-1.33.0_skip-loop-control.patch
/busybox/patches/busybox-1.33.0_tc_depmod.patch
/busybox/.patches_applied.close
/busybox/.patches_applied
/tcl-*-usb.disk.gz
/ubuntu/ubuntu-base-20.04.2-base-amd64.tar.gz
/ubuntu/system.tgz
/sshkeys.pub/*.pub
/ubuntu/rootfs
/tclinux.iso
/ntfs/*
/.gitpasswd
