#!/bin/ash

name=${1/.tcz/}
shift

if [ "$1" == "x86" ]; then
	export CFLAGS="-march=i486 -mtune=i686 -Os -pipe"
	export CXXFLAGS="-march=i486 -mtune=i686 -Os -pipe"
	export LDFLAGS="-Wl,-O1"
elif [ "$1" == "x86_64" ]; then
	export CFLAGS="-mtune=generic -Os -pipe"
	export CXXFLAGS="-mtune=generic -Os -pipe"
	export LDFLAGS="-Wl,-O1"
elif [ "$1" == "RPi" ]; then
	export CFLAGS="-Os -pipe"
	export CXXFLAGS="-Os -pipe"
	export LDFLAGS="-Wl,-O1"
else
	echo
	echo "USAGE: $(basename $0) <name.tgz> <x86|x86_64|RPi>"
	echo
	exit 1
fi

if ! which file >/dev/null; then
	echo
	echo "ERROR: this script need 'file' as command, abort"
	echo
	exit 1
fi

function onerror() {
	echo
	echo -e "\nERROR at line $1, abort\n"
	echo
	exit 1
}

trap 'onerror $LINENO' EXIT
exec 2>&1 | tee $name.tcz.log
set -e

if [ -e configure.ac ]; then
	autoupdate
	autoconf
	./configure
fi

make clean
rm -f *~
rm -f $name.tcz
rm -f $name.tcz.list
rm -f $name.tcz.zsync 
rm -f $name.tcz.md5.txt
rm -f $name.tcz.build_dep
sudo rm -rf _install

make
make DESTDIR=$PWD/_install install
rm -rf _install/usr/local/share/man

exebin=$(find _install -type f | xargs file | grep "ELF .* executable, .* not stripped" | cut -f 1 -d :)
strip --strip-unneeded $exebin 2>/dev/null || true
sstrip $exebin >/dev/null 2>&1 || true

solibs=$(find _install -type f | xargs file | grep "ELF .* shared object, .* not stripped" | cut -f 1 -d :)
strip -g $solibs 2>/dev/null || true
sstrip $solibs >/dev/null 2>&1 || true

find _install -type d | xargs chmod 0755
find _install -type f | xargs chmod 0644
find _install -type f | xargs file | grep "executable" | cut -d: -f1 | xargs chmod 0755

echo
echo "Check this for dependencies"
find _install -type f | xargs file | grep "ELF .* executable," | cut -f 1 -d : | xargs ldd 2>/dev/null
find _install -type f | xargs file | grep "ELF .* shared object," | cut -f 1 -d : | xargs ldd 2>/dev/null
echo
echo "Press ENTER to continue or CTR-C to stop"
read

sudo rm -rf $name.tcz
sudo chown -R root.root _install
sudo mksquashfs _install $name.tcz >/dev/null
sudo chown tc.staff $name.tcz*
md5sum $name.tcz >$name.tcz.md5.txt
du -ks $name.tcz

ls -1 /usr/local/tce.installed/ | grep -ve "-meta$" | sed -e "s,\(.*\),\1.tcz," >$name.tcz.build_dep

find _install -not -type d | sed -e "s,^_install,," > ../$name.tcz.list

submitqc --libs --tcz=$name.tcz

echo
trap -- EXIT
